---
name: On Merge

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Tests
        uses: ./.github/actions/tests

  release-image:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build Latest Image
        uses: ./.github/actions/docker
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          latest: true
          push: true
          tag-strategy: "latest"